@red: #994848;
@dark-green: #2E663B;
@yellow: #99984B;
@light-blue: #4B9999;
@gray: #cccccc;

/********************* Header *********************/
.navbar-fixed-top {
  background-color: @base-color;
  border-bottom: darken(@base-color, 10%) solid 5px;
  height: 75px;
  .navbar-header {
    .logo {
      margin: 5px;
      width: 140px;
    }
  }
  .navbar-form {
    .form-inline {
      float: right;
      position: relative;
      top: 10px;
    }
  }
}

.navbar-collapse.in {
  overflow-y: visible;
}

.scrollable-menu {
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.mega-menu-dropdown {
  display: inline;
  margin: 55px;
  position: relative;
  top: 8px;
}
.btn-menu {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  border-bottom: transparent;
  border-top: transparent;
  color: #ffffff;
  padding: 28px;
  position: relative;
    bottom: 4px;
    .fa {
      font-size: 10px;
      position: relative;
      left: 3px;
    }
    &:active, &:focus, &:hover {
      background-color: rgba(0,0,0,0.1);
      color: @white;
    }
    &:before {
      content: "Menu";
    }
}
#menu-primary-menu {
  li {
    cursor: pointer;
  }
  #menu-item-29 {
    border-left: solid 4px @gray;
    &:hover, &:active, &:focus {
      border-left: solid 4px @gray;
    }
  }
  #menu-item-34 {
    border-left: solid 4px @highlight-color;
    &:hover, &:active, &:focus {
      border-left: solid 4px @highlight-color;
    }
  }
  #menu-item-35 {
    border-left: solid 4px @red;
    &:hover, &:active, &:focus {
      border-left: solid 4px @red;
    }
  }
  #menu-item-36 {
    border-left: solid 4px @dark-green;
    &:hover, &:active, &:focus {
      border-left: solid 4px @dark-green;
    }
  }
  #menu-item-491 {
    border-left: solid 4px @yellow;
    &:hover, &:active, &:focus {
      border-left: solid 4px @yellow;
    }
  }
  #menu-item-381 {
    border-left: solid 4px @light-blue;
    &:hover, &:active, &:focus {
      border-left: solid 4px @light-blue;
    }
  }
  .active {
    background-color: #f5f5f5;
  }
  li {
    margin: 8px 0;
  }
  li > a {
    margin: 0;
    padding: 10px 20px;
  }
}

@media (max-width: 767px){
  #menu-primary-menu {
    #menu-item-34 {
      ul {
        display: none;
      }
    }
  }
  .navbar-fixed-top {
    .navbar-form {
      border: none;
      box-shadow: none;
        -webkit-box-shadow: none;
    }
    .mobile {
      display: block;
      margin: 15px;
      position: relative;
        bottom: 88px;
      z-index: 1001;
    }
  }
  .btn-menu {
    bottom: 70px;
    padding: 25px;
  }
}

@media (min-width: 767px){
  .navbar-fixed-top {
    .mobile {
      display: none;
    }
  }
}

